
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["title"] = "Flight Booking Form";
    var airlineDetails = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(ViewBag.details);
    
}
<!--=============== PAGE-COVER =============-->
<section class="page-cover" id="cover-flight-booking">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Flight Booking Form</h1>
                <ul class="breadcrumb">
                    <li ><a asp-action="Index" asp-controller="Home" asp-area="User">Home &nbsp; / </a></li>
                    <li >Flight Booking Form</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="flight-booking" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5 col-xl-4 side-bar left-side-bar">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="side-bar-block detail-block style1 text-center">
                                <div class="detail-img text-center">
                                    <a href="#"><img src="@airlineDetails.airlineImage" class="img-fluid" /></a>
                                </div><!-- end detail-img -->

                                <div class="detail-title">
                                    <h4><a href="#">London To Spain</a></h4>
                                    <p>@airlineDetails.airlineName</p>
                                   
                                </div><!-- end detail-title -->
                               
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td>Departure</td>
                                                <td>@airlineDetails.departureDate</td>
                                            </tr>
                                            <tr>
                                                <td>Time</td>
                                                <td>@airlineDetails.departureTime</td>
                                            </tr>
                                            <tr>
                                                <td>Class</td>
                                                <td>@airlineDetails.class_name</td>
                                            </tr>
                                            <tr>
                                                <td>Stops</td>
                                                @if (airlineDetails.journey_type == "Two Way")
                                                {
                                                    <td>Two Stops</td>
                                                }
                                                else{
                                                    <td>Direct Flight</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td>Flight Duration</td>
                                                <td>@airlineDetails.duration</td>
                                            </tr>
                                            <tr>
                                                <td>Price</td>
                                                <td><span class="currencyContainer"></span> @airlineDetails.price</td>
                                            </tr>
                                            <tr>
                                                <td>Total Passengers</td>
                                                <td>@airlineDetails.number_of_adults</td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Totel Price</td>
                                                <td><span class="currencyContainer"></span><span id="totalPrice"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- end table-responsive -->
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->

                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="side-bar-block support-block">
                                <h3>Need Help</h3>
                                <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum.</p>
                                <div class="support-contact">
                                    <span><i class="fa fa-phone"></i></span>
                                    <p>+1 123 1234567</p>
                                </div><!-- end support-contact -->
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->

                    </div><!-- end row -->

                </div><!-- end columns -->


                <div class="col-12 col-md-12 col-lg-7 col-xl-8 content-side">
                    <form class="lg-booking-form" id="frm_booking" name="frm_booking" method="post">
                        <div class="lg-booking-form-heading">
                            <span>1</span>
                            <h3>Passanger Details</h3>
                        </div><!-- end lg-bform-heading -->


                        <div class="payment-tabs">
                            <ul class="nav nav-tabs" id="tabpanepassangerLinks">
                            </ul>
                            <!-- start here -->
                            <div class="tab-content" id="tabpanepassangerContainer">
                            </div>
                            <!-- passange tab pane ends here -->
                        </div><!-- end payment-tabs -->

                        <div class="payment-tabs">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" href="#tab-credit-card" data-bs-toggle="tab"> Via Credit Card</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab-paypal" data-bs-toggle="tab">Via Paypal</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab-credit-card" class="tab-pane in active">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card Type</label>
                                                <select class="form-control" id="ddl_card_type" name="ddl_card_type">
                                                    <option selected>Select</option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                        </div><!-- end columns -->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card Number</label>
                                                <input type="text" class="form-control" id="txt_card_number" name="txt_card_number" />
                                            </div>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card Holder Name</label>
                                                <input type="text" class="form-control" id="txt_holder_name" name="txt_holder_name" />
                                            </div>
                                        </div><!-- end columns -->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>CVC</label>
                                                <input type="text" class="form-control" id="txt_cvc_number" name="txt_cvc_number" />
                                            </div>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->

                                    <div class="row">
                                        <div class="col-6 col-md-3">
                                            <div class="form-group">
                                                <label>Expiry Month</label>
                                                <select class="form-control" id="ddl_expire_month" class="ddl_expire_month">
                                                    <option selected>Select</option>
                                                    <option>February</option>
                                                    <option>March</option>
                                                    <option>April</option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                        </div><!-- end columns -->

                                        <div class="col-6 col-md-3">
                                            <div class="form-group">
                                                <label>Expiry Year</label>
                                                <select class="form-control" id="ddl_expire_year" class="ddl_expire_year">
                                                    <option selected>Select</option>
                                                    <option>2018</option>
                                                    <option>2019</option>
                                                    <option>2020</option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->

                                </div><!-- end tab-credit-card -->

                                <div id="tab-paypal" class="tab-pane">
                                    <img src="images/paypal.png" class="img-fluid" alt="paypal" />
                                    <div class="paypal-text">
                                        <p><span>Important:</span>@ViewBag.details</p>
                                        <a href="#" class="btn btn-default btn-lightgrey">Checkout via Paypal<span><i class="fa fa-angle-double-right"></i></span></a>
                                    </div><!-- end paypal-text -->

                                    <div class="clearfix"></div>
                                </div><!-- end tab-paypal -->

                            </div><!-- end tab-content -->
                        </div><!-- end payment-tabs -->

                        <div class="checkbox">
                            <label><input type="checkbox" id="chk_agree" name="chk_agree"> By continuing, you are agree to the <a href="#">Terms and Conditions.</a></label>
                        </div><!-- end checkbox -->
                        <div class="col-md-12 text-center" id="result_msg"></div>
                        <button type="submit" class="btn btn-orange" name="submit" id="submit">Confirm Booking</button>
                    </form>

                </div><!-- end columns -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end flight-booking -->
</section><!-- end innerpage-wrapper -->
<script src="~/userassets/js/jquery-3.3.1.min.js"></script>
<script src="~/userassets/js/custom/flightbooking.js"></script>
<script>
    var price       = '@airlineDetails.price';
    var passengers  = '@airlineDetails.number_of_adults';
    var currency    = '@airlineDetails.currency';
    let currencyContainer = $('.currencyContainer');
    var totalContainer = $("#totalPrice");
    let currencySymbolurl = '@Url.Action("checkCurrency" , "Booking")';
    $(document).ready(function(){
        let totalCountedPrice = price * passengers ;
        totalContainer.html(totalCountedPrice);
        $.ajax({
            url : currencySymbolurl + '?Currency='+currency,
            type:"get",
            success:function(response){
                currencyContainer.html(response.currency_symbol)
            }
        })
    });

</script>
