
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["title"]  = "Flight Booking Form";
    var airlineDetails = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(ViewBag.details);
    var userDetails    = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(ViewBag.isLoggedIn);
    
}
<!--=============== PAGE-COVER =============-->
<section class="page-cover" id="cover-flight-booking">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Flight Booking Form</h1>
                <ul class="breadcrumb">
                    <li ><a asp-action="Index" asp-controller="Home" asp-area="User">Home &nbsp; / </a></li>
                    <li >Flight Booking Form</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="flight-booking" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-5 col-xl-4 side-bar left-side-bar">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="side-bar-block detail-block style1 text-center">
                                <div class="detail-img text-center">
                                    <a href="#"><img src="@airlineDetails.airlineImage" class="img-fluid" /></a>
                                </div><!-- end detail-img -->

                                <div class="detail-title">
                                    <h4><a href="#">London To Spain</a></h4>
                                    <p>@airlineDetails.airlineName</p>
                                   
                                </div><!-- end detail-title -->
                               
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td>Departure</td>
                                                <td>@airlineDetails.departureDate</td>
                                            </tr>
                                            <tr>
                                                <td>Time</td>
                                                <td>@airlineDetails.departureTime</td>
                                            </tr>
                                            <tr>
                                                <td>Class</td>
                                                <td>@airlineDetails.class_name</td>
                                            </tr>
                                            <tr>
                                                <td>Stops</td>
                                                @if (airlineDetails.journey_type == "Two Way")
                                                {
                                                    <td>Two Stops</td>
                                                }
                                                else{
                                                    <td>Direct Flight</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td>Flight Duration</td>
                                                <td>@airlineDetails.duration</td>
                                            </tr>
                                            <tr>
                                                <td>Price</td>
                                                <td><span class="currencyContainer"></span> @airlineDetails.price</td>
                                            </tr>
                                            <tr>
                                                <td>Total Passengers</td>
                                                <td>@airlineDetails.number_of_adults</td>
                                            </tr>
                                            <tr>
                                                
                                                <td>Totel Price</td>
                                                <td><span class="currencyContainer"></span><span id="totalPrice"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- end table-responsive -->
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->

                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="side-bar-block support-block">
                                <h3>Need Help</h3>
                                <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum.</p>
                                <div class="support-contact">
                                    <span><i class="fa fa-phone"></i></span>
                                    <p>+1 123 1234567</p>
                                </div><!-- end support-contact -->
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->

                    </div><!-- end row -->

                </div><!-- end columns -->
           

                <div class="col-12 col-md-12 col-lg-7 col-xl-8 content-side">
                    <form class="lg-booking-form" asp-action="addBookingDetails" asp-controller="Booking" asp-area="User" id="frm_booking" name="frm_booking" method="post" enctype="multipart/form-data">
                        <div class="lg-booking-form-heading">
                            <span>1</span>
                            <h3>Passanger Details</h3>
                        </div><!-- end lg-bform-heading -->


                        <div class="payment-tabs">
                            <ul class="nav nav-tabs" id="tabpanepassangerLinks">
                            </ul>
                            <!-- start here -->
                            <div class="tab-content" id="tabpanepassangerContainer">
                            </div>
                            <!-- passange tab pane ends here -->
                        </div><!-- end payment-tabs -->

                        <div class="payment-tabs">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" href="#tab-credit-card" data-bs-toggle="tab"> Via Credit Card</a></li>
                                <li class="nav-item"><a class="nav-link" href="#tab-paypal" data-bs-toggle="tab">Via Paypal</a></li>
                               <li class="nav-item"><a class="nav-link" href="#tab-easypaisa" data-bs-toggle="tab">Via EasyPaisa</a></li>
                               <li class="nav-item"><a class="nav-link" href="#tab-jazzcash" data-bs-toggle="tab">Via JazzCash</a></li>
                           
                            </ul>
                            
                            <input type="hidden" name="airline_image" value="@airlineDetails.airlineImage" />
                            <input type="hidden" name="airline_name" value="@airlineDetails.airlineName" />
                            <input type="hidden" name="aircraft_code" value="@airlineDetails.aircraftCode" />
                            <input type="hidden" name="journey_type" value="@airlineDetails.journey_type" />
                            <input type="hidden" name="duration" value="@airlineDetails.duration" />
                            <input type="hidden" name="departure_time" value="@airlineDetails.departureTime" />
                            <input type="hidden" name="departure_date" value="@airlineDetails.departureDate" />
                            <input type="hidden" name="arrival_time" value="@airlineDetails.arrivalTime" />
                            <input type="hidden" name="arrival_date" value="@airlineDetails.arrivalDate" />
                            <input type="hidden" name="from" value="@airlineDetails.from" />
                            <input type="hidden" name="to" value="@airlineDetails.to"/>
                            <input type="hidden" name="currency" />
                            <input type="hidden" name="total_price" value="@airlineDetails.price"/>
                            <input type="hidden" name="class_name" value="@airlineDetails.class_name"/>
                            <input type="hidden" name="user_id" value="@userDetails.id" />

                            <div class="tab-content">
                                <div id="tab-credit-card" class="tab-pane in active">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card Type</label>
                                                <select class="form-control" id="ddl_card_type" name="ddl_card_type">
                                                    <option selected>Select</option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                        </div><!-- end columns -->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card Number</label>
                                                <input type="text" class="form-control" id="txt_card_number" name="txt_card_number" />
                                            </div>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card Holder Name</label>
                                                <input type="text" class="form-control" id="txt_holder_name" name="txt_holder_name" />
                                            </div>
                                        </div><!-- end columns -->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>CVC</label>
                                                <input type="text" class="form-control" id="txt_cvc_number" name="txt_cvc_number" />
                                            </div>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->

                                    <div class="row">
                                        <div class="col-6 col-md-3">
                                            <div class="form-group">
                                                <label>Expiry Month</label>
                                                <select class="form-control" id="ddl_expire_month" class="ddl_expire_month">
                                                    <option selected>Select</option>
                                                    <option>February</option>
                                                    <option>March</option>
                                                    <option>April</option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                        </div><!-- end columns -->

                                        <div class="col-6 col-md-3">
                                            <div class="form-group">
                                                <label>Expiry Year</label>
                                                <select class="form-control" id="ddl_expire_year" class="ddl_expire_year">
                                                    <option selected>Select</option>
                                                    <option>2018</option>
                                                    <option>2019</option>
                                                    <option>2020</option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->

                                </div><!-- end tab-credit-card -->

                                <div id="tab-paypal" class="tab-pane">
                                    <img src="images/paypal.png" class="img-fluid" alt="paypal" />
                                    <div class="paypal-text">
                                        
                                        <a href="#" class="btn btn-default btn-lightgrey">Checkout via Paypal<span><i class="fa fa-angle-double-right"></i></span></a>
                                    </div><!-- end paypal-text -->

                                    <div class="clearfix"></div>
                                </div><!-- end tab-paypal -->

                            </div><!-- end tab-content -->
                        </div><!-- end payment-tabs -->

                        <div class="checkbox">
                            <label><input type="checkbox" id="chk_agree" name="chk_agree"> By continuing, you are agree to the <a href="#">Terms and Conditions.</a></label>
                        </div><!-- end checkbox -->
                        <div class="col-md-12 text-center" id="result_msg"></div>
                        <button type="submit" class="btn btn-orange" name="submit" id="submit">Confirm Booking</button>
                    </form>

                </div><!-- end columns -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end flight-booking -->
</section><!-- end innerpage-wrapper -->
<script src="~/userassets/js/jquery-3.3.1.min.js"></script>
<script src="~/userassets/js/custom/flightbooking.js"></script>
<script>
    var price       = '@airlineDetails.price';
    var passengers  = '@airlineDetails.number_of_adults';
    var currency    = '@airlineDetails.currency';
    let currencyContainer = $('.currencyContainer');
    var totalContainer = $("#totalPrice");
    let currencySymbolurl = '@Url.Action("checkCurrency" , "Booking")';
    $(document).ready(function(){
        let totalCountedPrice = price * passengers ;
        totalContainer.html(totalCountedPrice);
        $.ajax({
            url : currencySymbolurl + '?Currency='+currency,
            type:"get",
            success:function(response){
                currencyContainer.html(response.currency_symbol)
                $('input[name="currency"]').val(response.currency_symbol);
            }
        })
    // function to generate Age
        let passangerFormContainer = $('#tabpanepassangerContainer');
        let passangerLinkContainer = $('#tabpanepassangerLinks');
        
        let links = "";
        let passangerContent = "";
        for (let i = 1; i <= passengers; i++) {
            if (i === 1) {
                links += `
            <li class="nav-item"><a class="nav-link active" href="#tab-passanger-${i}" data-bs-toggle="tab"> Passanger ${i}</a></li>
            `;
                passangerContent += `
           <div id="tab-passanger-${i}" class="tab-pane in active">

       <div class="personal-info">

            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label>Person Image <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                                      <input type="file" class="form-control" name="passanger_images"/>

                    </div>
                </div><!-- end columns -->
            </div>
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="form-group">
                            <label>First Name <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="text" class="form-control" id="txt_name"  placeholder="Enter First Name" name="first_name[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Last Name </label>
                        <input type="text" class="form-control" id="txt_last_name"  placeholder="Enter Last Name" name="last_name[]"/>
                    </div>
                </div><!-- end columns -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                            <label>Date of Birth <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="date" class="form-control date_of_birth" id="txt_dob"  placeholder="Enter Date of birth" name="date_of_birth[]"/>
                    </div>
                </div><!-- end columns -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Age  <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <label> <small>( Select the Date of Birth to Calculate Age )</small></label>
                        <input type="input" readonly class="form-control age" placeholder="Enter Age" name="age[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>Passport Number <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="text" class="form-control"  placeholder="Enter Passport number" name="passport_number[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>Cnic Number <span class="cnic_age" style="color:red; position:relative; bottom:2px;font-size:15px;">*</span> (If Age is 18+)</label>
                        <input type="text" class="form-control"  placeholder="Enter Cnic Number" name="cnic_number[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>Country <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                     <input type="text" class="form-control" placeholder="Enter Country Name" name="country_name[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>City <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                     <input type="text" class="form-control" placeholder="Enter City Name" name="city[]"/>
                    </div>
                </div><!-- end columns -->

            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                            <label>Email Address <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="email" class="form-control"  placeholder="Enter Email address" id="txt_email" name="email[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>Phone Number <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="text" class="form-control"  placeholder="Enter Phone Number" id="txt_phone" name="phone_number[]"/>
                    </div>
                </div><!-- end columns -->
            </div><!-- end row -->


        </div><!-- end personal-info -->

    </div>
    `;
            }
            else {
                links += `
            <li class="nav-item"><a class="nav-link" href="#tab-passanger-${i}" data-bs-toggle="tab"> Passanger ${i}</a></li>
            `;
                passangerContent += `
           <div id="tab-passanger-${i}" class="tab-pane">

        <div class="personal-info">

            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="form-group">
                            <label>Person Image <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="file" class="form-control" name="passanger_images" multiple/>
                    </div>
                </div><!-- end columns -->
            </div>
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="form-group">
                            <label>First Name <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="text" class="form-control" id="txt_name"  placeholder="Enter First Name" name="first_name[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" id="txt_last_name"  placeholder="Enter Last Name" name="last_name[]"/>
                    </div>
                </div><!-- end columns -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                            <label>Date of Birth <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="date" class="form-control date_of_birth" id="txt_dob"  placeholder="Enter Date of birth" name="date_of_birth[]"/>
                    </div>
                </div><!-- end columns -->
                <div class="col-md-6">
                    <div class="form-group">
                            <label>Age <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                            <label> <small>( Select the Date of Birth to Calculate Age )</small></label>

                                <input type="input" readonly class="form-control age" placeholder="Enter Age" name="age[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>Passport Number <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="text" class="form-control"  placeholder="Enter Passport number" name="passport_number[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Cnic Number <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span>(If Age is 18+)</label>
                        <input type="text" class="form-control"  placeholder="Enter Cnic Number" name="cnic_number[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>Country <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                     <input type="text" class="form-control" placeholder="Enter Country Name" name="country_name[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>City <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                     <input type="text" class="form-control" placeholder="Enter City Name" name="city[]"/>
                    </div>
                </div><!-- end columns -->

            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                            <label>Email Address <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="email" class="form-control"  placeholder="Enter Email address" id="txt_email" name="email[]"/>
                    </div>
                </div><!-- end columns -->

                <div class="col-md-6">
                    <div class="form-group">
                            <label>Phone Number <span style="color:red; position:relative; bottom:2px;font-size:15px;">*</span></label>
                        <input type="text" class="form-control"  placeholder="Enter Phone Number" id="txt_phone" name="phone_number[]"/>
                    </div>
                </div><!-- end columns -->
            </div><!-- end row -->

        </div><!-- end personal-info -->

    </div>
    `;
            }


        }
        passangerLinkContainer.html(links);
        passangerFormContainer.html(passangerContent);
    // Function for Changing the age
       
    $(document).on('change' , '.date_of_birth' , function(e){
       e.preventDefault();
           var dateOfBirth  = calculate_age($(this).val()); // This Will add the  dateofbirth value to the parameters
           var ageInput = $(this).closest(".col-md-6").next('.col-md-6').find('.age'); // it will find the closest col-md class then will target the next col-md class and find the age input
           ageInput.val(dateOfBirth);
            
    });
    
    function calculate_age(dateOfBirth){ // this function will calculate the age
            let dob = new Date(dateOfBirth);
            let currentDate = new Date();
            let age = currentDate.getFullYear() - dob.getFullYear();
          if( age ===  0){
              var months  = currentDate.getMonth() - dob.getMonth(); // This will calculate age if Its below to a year
              if(months < 0){
                  months = 12 - dob.getMonth   + currentDate.getMonth();
              }
              if (months > 6) {  // If its greater then 6 it means its eligble to have a seat or else its a child 
                return months +" "+"Months Old";
             }
             else{
                return "Child Ticket";
             }
          }
          else
          {
              return age +" "+"Yrs"  ;
          }
     }
    
    
    });
    
</script>
