@model TravioHotel.Models.BookingRequest ;
@{
    ViewData["title"] = "Home";
    Layout = "~/Views/Shared/_Userlayout.cshtml";
    var sliderImage = "~/userassets/images/homepage-slider-1.jpg";
}

<!--Data start from here-->
<!--========================= FLEX SLIDER =====================-->
<section class="flexslider-container" id="flexslider-container-1">

    <div class="flexslider slider" id="slider-1">
        <ul class="slides">

            <li class="item-1" style="background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('@sliderImage') 50% 0%;background-size:cover;
                        height:100%;">
                <div class=" meta">
                    <div class="container">
                        <h2>Discover</h2>
                        <h1>Australia</h1>
                        <a href="#" class="btn btn-default">View More</a>
                    </div><!-- end container -->
                </div><!-- end meta -->
            </li><!-- end item-1 -->

            <li class="item-2" style="background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('@sliderImage') 50% 0%;background-size:cover;
                        height:100%;">
                <div class=" meta">
                    <div class="container">
                        <h2>Travel The World</h2>
                        <h1>With TravioTravel</h1>
                        <a href="#" class="btn btn-default">View More</a>
                    </div><!-- end container -->
                </div><!-- end meta -->
            </li><!-- end item-2 -->

        </ul>
    </div><!-- end slider -->

    <div class="search-tabs" id="search-tabs-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item"><a class="nav-link active" href="#flights" data-bs-toggle="tab"><span><i class="fa fa-plane"></i></span><span class="d-md-inline-flex d-none st-text">Flights</span></a></li>
                        <li class="nav-item"><a class="nav-link text-danger" href="#" disabled data-bs-toggle="tab"><span><i class="fa fa-lock"></i></span><span class="d-md-inline-flex d-none st-text">Hotels</span></a></li>
                        <li class="nav-item"><a class="nav-link text-danger" href="#" disabled data-bs-toggle="tab"><span><i class="fa fa-lock"></i></span><span class="d-md-inline-flex d-none st-text">Tours</span></a></li>
                        <li class="nav-item"><a class="nav-link text-danger" href="#cruise" disabled data-bs-toggle="tab"><span><i class="fa fa-lock"></i></span><span class="d-md-inline-flex d-none st-text">Cruise</span></a></li>
                        <li class="nav-item"><a class="nav-link text-danger" disabled href="#cars" data-bs-toggle="tab"><span><i class="fa fa-lock"></i></span><span class="d-md-inline-flex d-none st-text">Cars</span></a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="flights" class="tab-pane in active">
                            <form asp-action="RequestBooking" asp-controller="BookingRequest" id="flightBookingForm" asp-area="User" method="Post">
                                <div class="row">

                                    <div class="col-12 col-md-12 col-lg-5 col-xl-4">
                                        <div class="row">

                                            <div class="col-12 col-md-6 col-lg-6">
                                                <label><i class="fa text-warning fa-map-marker"></i>&nbsp; From Country<span class="text-danger" style="position:relative; bottom:3px;left:1px">*</span></label>
                                                <div class="form-group right-icon">
                                                    <select class="form-control" id="from_country" name="from_country" asp-for="from_country">
                                                        <option value="">Select Country</option>
                                                        @foreach(var country in ViewBag.country){
                                                        <option value="@country.id">@country.name</option>
                                                        }
                                                    </select>
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                            </div><!-- end columns -->
                                              <div class="col-12 col-md-6 col-lg-6">
                                                <label><i class="fa text-warning fa-map-marker"></i>&nbsp; From City <span class="text-danger" style="position:relative; bottom:3px;left:1px">*</span></label>

                                                <div class="form-group right-icon">
                                                    <select class="form-control" id="from_city" readonly name="from_city" asp-for="from_city">
                                                        <option value="">Select City</option>
                                                    </select>
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                            </div><!-- end columns -->
                                              <div class="col-12 col-md-6 col-lg-6">
                                                <label><i class="fa text-warning fa-map-marker"></i> &nbsp;To Country<span class="text-danger" style="position:relative; bottom:3px ; left:1px">*</span></label>

                                                <div class="form-group right-icon">
                                                    <select class="form-control" id="to_country" name="to_country" asp-for="to_country">
                                                        <option value="">Select Country</option>
                                                        @foreach (var country in ViewBag.country)
                                                        {
                                                            <option value="@country.id">@country.name</option>
                                                        }
                                                    </select>
                                                    <i class="fa fa-map-marker"></i>
                                                   
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-12 col-md-6 col-lg-6">
                                                <label><i class="fa text-warning fa-map-marker"></i> &nbsp; To City<span class="text-danger" style="position:relative; bottom:3px ; left:1px">*</span></label>

                                                <div class="form-group right-icon">
                                                    <select class="form-control" readonly id="to_city" name="to_city" asp-for="to_city">
                                                        <option value="">Select City</option>
                                                    </select>
                                                    

                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                            </div><!-- end columns -->

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-5 col-xl-4">
                                        <div class="row">

                                            <div class="col-12 col-md-12 col-lg-12">
                                                <label><i class="fa text-warning fa-calendar"></i> &nbsp; Departure Date<span class="text-danger" style="position:relative; bottom:3px;left:1px">*</span></label>

                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control dpd1" id="departure_date" placeholder="Departure Date" name="departure_date" asp-for="departure_date">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div><!-- end columns -->

                                          

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-2 col-xl-2">
                                        <label> <i class="fa text-warning fa-user"></i> &nbsp;Total Adults<span class="text-danger" style="position:relative; bottom:3px;left:1px">*</span></label>

                                        <div class="form-group left-icon">
                                            <input name="number_of_adults" type="number" id="number_of_adults" placeholder="No Adults" asp-for="number_of_adults" class="form-control" />
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-12 col-xl-2 search-btn mt-4" style="position:relative;top:6px">
                                        <button class="btn btn-orange searchBtn" type="submit">Search</button>
                                    </div><!-- end columns -->

                                </div><!-- end row -->
                            </form>
                        </div><!-- end flights -->

                        <div id="hotels" class="tab-pane">
                            <form>
                                <div class="row">

                                    <div class="col-12 col-md-12 col-lg-6 col-xl-5">
                                        <div class="row">

                                            <div class="col-12 col-md-6">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control dpd1" placeholder="Check In">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-12 col-md-6">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control dpd2" placeholder="Check Out">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div><!-- end columns -->

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-6 col-xl-5">
                                        <div class="row">

                                            <div class="col-12 col-md-12 col-lg-4">
                                                <div class="form-group right-icon">
                                                    <select class="form-control">
                                                        <option selected>Rooms</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-6 col-md-6 col-lg-4">
                                                <div class="form-group right-icon">
                                                    <select class="form-control">
                                                        <option selected>Adults</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-6 col-md-6 col-lg-4">
                                                <div class="form-group right-icon">
                                                    <select class="form-control">
                                                        <option selected>Kids</option>
                                                        <option>0</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div><!-- end columns -->

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-12 col-xl-2 search-btn">
                                        <button class="btn btn-orange">Search</button>
                                    </div><!-- end columns -->

                                </div><!-- end row -->
                            </form>
                        </div><!-- end hotels -->

                        <div id="tours" class="tab-pane">
                            <form>
                                <div class="row">

                                    <div class="col-12 col-md-12 col-lg-3 col-xl-4">
                                        <div class="form-group left-icon">
                                            <input type="text" class="form-control" placeholder="City,Country" />
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-3 col-xl-3">
                                        <div class="form-group right-icon">
                                            <select class="form-control">
                                                <option selected>Month</option>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-6 col-xl-3">
                                        <div class="row">

                                            <div class="col-12 col-md-6">
                                                <div class="form-group right-icon">
                                                    <select class="form-control">
                                                        <option selected>Adults</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-12 col-md-6">
                                                <div class="form-group right-icon">
                                                    <select class="form-control">
                                                        <option selected>Kids</option>
                                                        <option>0</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div><!-- end columns -->

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-12 col-xl-2 search-btn">
                                        <button class="btn btn-orange">Search</button>
                                    </div><!-- end columns -->

                                </div><!-- end row -->
                            </form>
                        </div><!-- end tours -->

                        <div id="cruise" class="tab-pane">
                            <form>
                                <div class="row">

                                    <div class="col-12 col-md-12 col-lg-5 col-xl-4">
                                        <div class="row">

                                            <div class="col-12 col-md-6 col-lg-6">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control" placeholder="From">
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-12 col-md-6 col-lg-6">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control" placeholder="To">
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                            </div><!-- end columns -->

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-5 col-xl-4">
                                        <div class="row">

                                            <div class="col-6 col-md-6 col-lg-6">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control dpd1" placeholder="Check In">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-6 col-md-6 col-lg-6">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control dpd2" placeholder="Check Out">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div><!-- end columns -->

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-2 col-xl-2">
                                        <div class="form-group right-icon">
                                            <select class="form-control">
                                                <option selected>Adults</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-12 col-xl-2 search-btn">
                                        <button class="btn btn-orange">Search</button>
                                    </div><!-- end columns -->

                                </div><!-- end columns -->
                            </form>
                        </div><!-- end cruises -->

                        <div id="cars" class="tab-pane">
                            <form>
                                <div class="row">

                                    <div class="col-12 col-md-12 col-lg-7 col-xl-6">
                                        <div class="row">

                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control" placeholder="Country" />
                                                    <i class="fa fa-globe"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control" placeholder="City" />
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-md-12 col-lg-4">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control" placeholder="Location" />
                                                    <i class="fa fa-street-view"></i>
                                                </div>
                                            </div><!-- end columns -->

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-5 col-xl-4">
                                        <div class="row">

                                            <div class="col-6 col-md-6 col-lg-6">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control dpd1" placeholder="Check In">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div><!-- end columns -->

                                            <div class="col-6 col-md-6 col-lg-6">
                                                <div class="form-group left-icon">
                                                    <input type="text" class="form-control dpd2" placeholder="Check Out">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div><!-- end columns -->

                                        </div><!-- end row -->
                                    </div><!-- end columns -->

                                    <div class="col-12 col-md-12 col-lg-12 col-xl-2 search-btn">
                                        <button class="btn btn-orange">Search</button>
                                    </div><!-- end columns -->

                                </div><!-- end row -->
                            </form>
                        </div><!-- end cars -->

                    </div><!-- end tab-content -->

                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end search-tabs -->

</section><!-- end flexslider-container -->
<!--=============== HOTEL OFFERS ===============-->
<section id="hotel-offers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h2>Hotels Offers</h2>
                    <hr class="heading-line" />
                </div><!-- end page-heading -->

                <div class="owl-carousel owl-theme owl-custom-arrow" id="owl-hotel-offers">

                    <div class="item">
                        <div class="main-block hotel-block">
                            <div class="main-img">
                                <a href="#">
                                    <img src="images/hotel-1.jpg" class="img-fluid" alt="hotel-img" />
                                </a>
                                <div class="main-mask">
                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="divider">|</span><span class="pkg">Avg/Night</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end main-mask -->
                            </div><!-- end offer-img -->

                            <div class="main-info hotel-info">
                                <div class="arrow">
                                    <a href="#"><span><i class="fa fa-angle-right"></i></span></a>
                                </div><!-- end arrow -->

                                <div class="main-title hotel-title">
                                    <a href="#">Herta Berlin Hotel</a>
                                    <p>From: Scotland</p>
                                </div><!-- end hotel-title -->
                            </div><!-- end hotel-info -->
                        </div><!-- end hotel-block -->
                    </div><!-- end item -->

                    <div class="item">
                        <div class="main-block hotel-block">
                            <div class="main-img">
                                <a href="#">
                                    <img src="images/hotel-2.jpg" class="img-fluid" alt="hotel-img" />
                                </a>
                                <div class="main-mask">
                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="divider">|</span><span class="pkg">Avg/Night</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end main-mask -->
                            </div><!-- end offer-img -->

                            <div class="main-info hotel-info">
                                <div class="arrow">
                                    <a href="#"><span><i class="fa fa-angle-right"></i></span></a>
                                </div><!-- end arrow -->

                                <div class="main-title hotel-title">
                                    <a href="#">Roosevelt Hotel</a>
                                    <p>From: Germany</p>
                                </div><!-- end hotel-title -->
                            </div><!-- end hotel-info -->
                        </div><!-- end hotel-block -->
                    </div><!-- end item -->

                    <div class="item">
                        <div class="main-block hotel-block">
                            <div class="main-img">
                                <a href="#">
                                    <img src="images/hotel-3.jpg" class="img-fluid" alt="hotel-img" />
                                </a>
                                <div class="main-mask">
                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="divider">|</span><span class="pkg">Avg/Night</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end main-mask -->
                            </div><!-- end offer-img -->

                            <div class="main-info hotel-info">
                                <div class="arrow">
                                    <a href="#"><span><i class="fa fa-angle-right"></i></span></a>
                                </div><!-- end arrow -->

                                <div class="main-title hotel-title">
                                    <a href="#">Hotel Fort De</a>
                                    <p>From: Austria</p>
                                </div><!-- end hotel-title -->
                            </div><!-- end hotel-info -->
                        </div><!-- end hotel-block -->
                    </div><!-- end item -->

                    <div class="item">
                        <div class="main-block hotel-block">
                            <div class="main-img">
                                <a href="#">
                                    <img src="images/hotel-4.jpg" class="img-fluid" alt="hotel-img" />
                                </a>
                                <div class="main-mask">
                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="divider">|</span><span class="pkg">Avg/Night</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end main-mask -->
                            </div><!-- end offer-img -->

                            <div class="main-info hotel-info">
                                <div class="arrow">
                                    <a href="#"><span><i class="fa fa-angle-right"></i></span></a>
                                </div><!-- end arrow -->

                                <div class="main-title hotel-title">
                                    <a href="#">Roosevelt Hotel</a>
                                    <p>From: Germany</p>
                                </div><!-- end hotel-title -->
                            </div><!-- end hotel-info -->
                        </div><!-- end hotel-block -->
                    </div><!-- end item -->

                </div><!-- end owl-hotel-offers -->

                <div class="view-all text-center">
                    <a href="#" class="btn btn-orange">View All</a>
                </div><!-- end view-all -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end hotel-offers -->
<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-dollar"></i></span>
                    <h3>Best Price Guarantee</h3>
                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                </div><!-- end b-feature-block -->
            </div><!-- end columns -->

            <div class="col-md-6 col-lg-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-lock"></i></span>
                    <h3>Safe and Secure</h3>
                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                </div><!-- end b-feature-block -->
            </div><!-- end columns -->

            <div class="col-md-6 col-lg-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-thumbs-up"></i></span>
                    <h3>Best Travel Agents</h3>
                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                </div><!-- end b-feature-block -->
            </div><!-- end columns -->

            <div class="col-md-6 col-lg-3">
                <div class="b-feature-block">
                    <span><i class="fa fa-bars"></i></span>
                    <h3>Travel Guidelines</h3>
                    <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                </div><!-- end b-feature-block -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end best-features -->
<!--=============== TOUR OFFERS ===============-->
<section id="tour-offers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h2>Tour Offers</h2>
                    <hr class="heading-line" />
                </div><!-- end page-heading -->

                <div class="owl-carousel owl-theme owl-custom-arrow" id="owl-tour-offers">

                    <div class="item">
                        <div class="main-block tour-block">
                            <div class="main-img">
                                <a href="#">
                                    <img src="images/tour-1.jpg" class="img-fluid" alt="tour-img" />
                                </a>
                            </div><!-- end offer-img -->

                            <div class="offer-price-2">
                                <ul class="list-unstyled">
                                    <li class="price">$568.00<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a></li>
                                </ul>
                            </div><!-- end offer-price-2 -->

                            <div class="main-info tour-info">
                                <div class="main-title tour-title">
                                    <a href="#">China Temple Tour</a>
                                    <p>From: China</p>
                                    <div class="rating">
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star grey"></i></span>
                                    </div>
                                </div><!-- end tour-title -->
                            </div><!-- end tour-info -->
                        </div><!-- end tour-block -->
                    </div><!-- end item -->

                    <div class="item">
                        <div class="main-block tour-block">
                            <div class="main-img">
                                <a href="#">
                                    <img src="images/tour-2.jpg" class="img-fluid" alt="tour-img" />
                                </a>
                            </div><!-- end offer-img -->

                            <div class="offer-price-2">
                                <ul class="list-unstyled">
                                    <li class="price">$745.00<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a></li>
                                </ul>
                            </div><!-- end offer-price-2 -->

                            <div class="main-info tour-info">
                                <div class="main-title tour-title">
                                    <a href="#">African Safari Tour</a>
                                    <p>From: Africa</p>
                                    <div class="rating">
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star grey"></i></span>
                                    </div>
                                </div><!-- end tour-title -->
                            </div><!-- end tour-info -->
                        </div><!-- end tour-block -->
                    </div><!-- end item -->

                    <div class="item">
                        <div class="main-block tour-block">
                            <div class="main-img">
                                <a href="#">
                                    <img src="images/tour-3.jpg" class="img-fluid" alt="tour-img" />
                                </a>
                            </div><!-- end offer-img -->

                            <div class="offer-price-2">
                                <ul class="list-unstyled">
                                    <li class="price">$459.00<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a></li>
                                </ul>
                            </div><!-- end offer-price-2 -->

                            <div class="main-info tour-info">
                                <div class="main-title tour-title">
                                    <a href="#">Paris City Tour</a>
                                    <p>From: Paris</p>
                                    <div class="rating">
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star grey"></i></span>
                                    </div>
                                </div><!-- end tour-title -->
                            </div><!-- end tour-info -->
                        </div><!-- end tour-block -->
                    </div><!-- end item -->

                    <div class="item">
                        <div class="main-block tour-block">
                            <div class="main-img">
                                <a href="#">
                                    <img src="images/tour-4.jpg" class="img-fluid" alt="tour-img" />
                                </a>
                            </div><!-- end offer-img -->

                            <div class="offer-price-2">
                                <ul class="list-unstyled">
                                    <li class="price">$745.00<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a></li>
                                </ul>
                            </div><!-- end offer-price-2 -->

                            <div class="main-info tour-info">
                                <div class="main-title tour-title">
                                    <a href="#">China Temple Tour</a>
                                    <p>From: China</p>
                                    <div class="rating">
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star grey"></i></span>
                                    </div>
                                </div><!-- end tour-title -->
                            </div><!-- end tour-info -->
                        </div><!-- end tour-block -->
                    </div><!-- end item -->

                </div><!-- end owl-tour-offers -->

                <div class="view-all text-center">
                    <a href="#" class="btn btn-orange">View All</a>
                </div><!-- end view-all -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end tour-offers -->
<!--=============== CRUISE OFFERS ===============-->
<section id="cruise-offers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h2>Cruise Offers</h2>
                    <hr class="heading-line" />
                </div><!-- end page-heading -->

                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="main-block cruise-block">
                            <div class="row">

                                <div class="col-md-12 col-lg-6 col-lg-pull-6 no-pd-r">
                                    <div class=" main-info cruise-info">
                                        <div class="main-title cruise-title">
                                            <a href="#">Spain Boat Tour</a>
                                            <p>From: Italy to Spain</p>
                                            <div class="rating">
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star grey"></i></span>
                                            </div><!-- end rating -->

                                            <span class="cruise-price">$950.00</span>
                                        </div><!-- end cruise-title -->
                                    </div><!-- end cruise-info -->
                                </div><!-- end columns -->

                                <div class="col-md-12 col-lg-6 col-lg-push-6 no-pd-l">
                                    <div class="main-img cruise-img">
                                        <a href="#">
                                            <img src="images/cruise-1.jpg" class="img-fluid" alt="cruise-img" />
                                            <div class="cruise-mask">
                                                <p>7 Nights, 6 Days</p>
                                            </div><!-- end cruise-mask -->
                                        </a>
                                    </div><!-- end cruise-img -->
                                </div><!-- end columns -->

                            </div><!-- end row -->
                        </div><!-- end cruise-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-6">
                        <div class="main-block cruise-block">
                            <div class="row">

                                <div class="col-md-12 col-lg-6 col-lg-pull-6 no-pd-r">
                                    <div class=" main-info cruise-info">
                                        <div class="main-title cruise-title">
                                            <a href="#">Spain Boat Tour</a>
                                            <p>From: Italy to Spain</p>
                                            <div class="rating">
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star grey"></i></span>
                                            </div><!-- end rating -->

                                            <span class="cruise-price">$950.00</span>
                                        </div><!-- end cruise-title -->
                                    </div><!-- end cruise-info -->
                                </div><!-- end columns -->

                                <div class="col-md-12 col-lg-6 col-lg-push-6 no-pd-l">
                                    <div class="main-img cruise-img">
                                        <a href="#">
                                            <img src="images/cruise-2.jpg" class="img-fluid" alt="cruise-img" />
                                            <div class="cruise-mask">
                                                <p>7 Nights, 6 Days</p>
                                            </div><!-- end cruise-mask -->
                                        </a>
                                    </div><!-- end cruise-img -->
                                </div><!-- end columns -->

                            </div><!-- end row -->
                        </div><!-- end cruise-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-6">
                        <div class="main-block cruise-block">
                            <div class="row">

                                <div class="col-md-12 col-lg-6 col-lg-pull-6 no-pd-r">
                                    <div class=" main-info cruise-info">
                                        <div class="main-title cruise-title">
                                            <a href="#">Spain Boat Tour</a>
                                            <p>From: Italy to Spain</p>
                                            <div class="rating">
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star grey"></i></span>
                                            </div><!-- end rating -->

                                            <span class="cruise-price">$950.00</span>
                                        </div><!-- end cruise-title -->
                                    </div><!-- end cruise-info -->
                                </div><!-- end columns -->

                                <div class="col-md-12 col-lg-6 col-lg-push-6 no-pd-l">
                                    <div class="main-img cruise-img">
                                        <a href="#">
                                            <img src="images/cruise-3.jpg" class="img-fluid" alt="cruise-img" />
                                            <div class="cruise-mask">
                                                <p>7 Nights, 6 Days</p>
                                            </div><!-- end cruise-mask -->
                                        </a>
                                    </div><!-- end cruise-img -->
                                </div><!-- end columns -->

                            </div><!-- end row -->
                        </div><!-- end cruise-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-6">
                        <div class="main-block cruise-block">
                            <div class="row">

                                <div class="col-md-12 col-lg-6 col-lg-pull-6 no-pd-r">
                                    <div class=" main-info cruise-info">
                                        <div class="main-title cruise-title">
                                            <a href="#">Spain Boat Tour</a>
                                            <p>From: Italy to Spain</p>
                                            <div class="rating">
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star grey"></i></span>
                                            </div><!-- end rating -->

                                            <span class="cruise-price">$950.00</span>
                                        </div><!-- end cruise-title -->
                                    </div><!-- end cruise-info -->
                                </div><!-- end columns -->

                                <div class="col-md-12 col-lg-6 col-lg-push-6 no-pd-l">
                                    <div class="main-img cruise-img">
                                        <a href="#">
                                            <img src="images/cruise-4.jpg" class="img-fluid" alt="cruise-img" />
                                            <div class="cruise-mask">
                                                <p>7 Nights, 6 Days</p>
                                            </div><!-- end cruise-mask -->
                                        </a>
                                    </div><!-- end cruise-img -->
                                </div><!-- end columns -->

                            </div><!-- end row -->
                        </div><!-- end cruise-block -->
                    </div><!-- end columns -->
                </div><!-- end row -->

                <div class="view-all text-center">
                    <a href="#" class="btn btn-orange">View All</a>
                </div><!-- end view-all -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cruise-offers -->
<!--==================== VIDEO BANNER ===================-->
<section id="video-banner" class="banner-padding back-size">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Take a Video Tour</h2>
                <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum at, pro an eros perpetua ullamcorper.</p>
                <div class="margin-small py-5 mt-5 m-sm-0 "></div>

                <!-- Button trigger modal -->
                <button type="button" class="btn video-btn" id="play-button" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/0O2aH4XLbto" data-bs-target="#myModal">
                    <span><i class="fa fa-play mt-0 m-sm-0"></i></span>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body">

                                <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <!-- 16:9 aspect ratio -->

                                <div class="ratio ratio-16x9">
                                    <iframe class="embed-responsive-item" src="#" id="video" allowscriptaccess="always">></iframe>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end video-banner -->
<!--================= FLIGHT OFFERS =============-->
<section id="flight-offers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h2>Flight Offers</h2>
                    <hr class="heading-line" />
                </div><!-- end page-heading -->

                <div class="row">

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block flight-block">
                            <a href="#">
                                <div class="flight-img">
                                    <img src="images/flight-1.jpg" class="img-fluid" alt="flight-img" />
                                </div><!-- end flight-img -->

                                <div class="flight-info">
                                    <div class="flight-title">
                                        <h3><span class="flight-destination">Spain</span>|<span class="flight-type">OneWay Flight</span></h3>
                                    </div><!-- end flight-title -->

                                    <div class=" flight-timing">
                                        <ul class="list-unstyled">
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                        </ul>
                                    </div><!-- end flight-timing -->

                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="pkg">Avg/Person</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end flight-info -->
                            </a>
                        </div><!-- end flight-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block flight-block">
                            <a href="#">
                                <div class="flight-img">
                                    <img src="images/flight-2.jpg" class="img-fluid" alt="flight-img" />
                                </div><!-- end flight-img -->

                                <div class="flight-info">
                                    <div class="flight-title">
                                        <h3><span class="flight-destination">Spain</span>|<span class="flight-type">OneWay Flight</span></h3>
                                    </div><!-- end flight-title -->

                                    <div class=" flight-timing">
                                        <ul class="list-unstyled">
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                        </ul>
                                    </div><!-- end flight-timing -->

                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="pkg">Avg/Person</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end flight-info -->
                            </a>
                        </div><!-- end flight-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block flight-block">
                            <a href="#">
                                <div class="flight-img">
                                    <img src="images/flight-3.jpg" class="img-fluid" alt="flight-img" />
                                </div><!-- end flight-img -->

                                <div class="flight-info">
                                    <div class="flight-title">
                                        <h3><span class="flight-destination">Spain</span>|<span class="flight-type">OneWay Flight</span></h3>
                                    </div><!-- end flight-title -->

                                    <div class=" flight-timing">
                                        <ul class="list-unstyled">
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                        </ul>
                                    </div><!-- end flight-timing -->

                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="pkg">Avg/Person</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end flight-info -->
                            </a>
                        </div><!-- end flight-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block flight-block">
                            <a href="#">
                                <div class="flight-img">
                                    <img src="images/flight-4.jpg" class="img-fluid" alt="flight-img" />
                                </div><!-- end flight-img -->

                                <div class="flight-info">
                                    <div class="flight-title">
                                        <h3><span class="flight-destination">Spain</span>|<span class="flight-type">OneWay Flight</span></h3>
                                    </div><!-- end flight-title -->

                                    <div class=" flight-timing">
                                        <ul class="list-unstyled">
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                        </ul>
                                    </div><!-- end flight-timing -->

                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="pkg">Avg/Person</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end flight-info -->
                            </a>
                        </div><!-- end flight-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block flight-block">
                            <a href="#">
                                <div class="flight-img">
                                    <img src="images/flight-5.jpg" class="img-fluid" alt="flight-img" />
                                </div><!-- end flight-img -->

                                <div class="flight-info">
                                    <div class="flight-title">
                                        <h3><span class="flight-destination">Spain</span>|<span class="flight-type">OneWay Flight</span></h3>
                                    </div><!-- end flight-title -->

                                    <div class=" flight-timing">
                                        <ul class="list-unstyled">
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                        </ul>
                                    </div><!-- end flight-timing -->

                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="pkg">Avg/Person</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end flight-info -->
                            </a>
                        </div><!-- end flight-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block flight-block">
                            <a href="#">
                                <div class="flight-img">
                                    <img src="images/flight-6.jpg" class="img-fluid" alt="flight-img" />
                                </div><!-- end flight-img -->

                                <div class="flight-info">
                                    <div class="flight-title">
                                        <h3><span class="flight-destination">Spain</span>|<span class="flight-type">OneWay Flight</span></h3>
                                    </div><!-- end flight-title -->

                                    <div class=" flight-timing">
                                        <ul class="list-unstyled">
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                            <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                        </ul>
                                    </div><!-- end flight-timing -->

                                    <ul class="list-unstyled list-inline offer-price-1">
                                        <li class="list-inline-item price">$568.00<span class="pkg">Avg/Person</span></li>
                                        <li class="list-inline-item rating">
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star orange"></i></span>
                                            <span><i class="fa fa-star lightgrey"></i></span>
                                        </li>
                                    </ul>
                                </div><!-- end flight-info -->
                            </a>
                        </div><!-- end flight-block -->
                    </div><!-- end columns -->

                </div><!-- end row -->

                <div class="view-all text-center">
                    <a href="#" class="btn btn-orange">View All</a>
                </div><!-- end view-all -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end flight-offers -->
<!--==================== HIGHLIGHTS ====================-->
<section id="highlights" class="section-padding back-size">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">

                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center">
                        <div class="highlight-box">
                            <div class="h-icon">
                                <span><i class="fa fa-plane"></i></span>
                            </div><!-- end h-icon -->

                            <div class="h-text">
                                <span class="numbers">2496</span>
                                <p>Outstanding Tours</p>
                            </div><!-- end h-text -->
                        </div><!-- end highlight-box -->
                    </div><!-- end columns -->

                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center">
                        <div class="highlight-box">
                            <div class="h-icon">
                                <span><i class="fa fa-ship"></i></span>
                            </div><!-- end h-icon -->

                            <div class="h-text cruise">
                                <span class="numbers">1906</span>
                                <p>Worldwide Cruise</p>
                            </div><!-- end h-text -->
                        </div><!-- end highlight-box -->
                    </div><!-- end columns -->

                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center">
                        <div class="highlight-box">
                            <div class="h-icon">
                                <span><i class="fa fa-taxi"></i></span>
                            </div><!-- end h-icon -->

                            <div class="h-text taxi">
                                <span class="numbers">2033</span>
                                <p>Luxury Car Booking</p>
                            </div><!-- end h-text -->
                        </div><!-- end highlight-box -->
                    </div><!-- end columns -->

                </div><!-- end row -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end highlights -->
<!--================ VEHICLE OFFERS ==============-->
<section id="vehicle-offers" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h2>Vehicle Offers</h2>
                    <hr class="heading-line" />
                </div><!-- end page-heading -->

                <div class="row">

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block vehicle-block">
                            <div class="main-img vehicle-img">
                                <a href="#">
                                    <img src="images/vehicle-1.jpg" class="img-fluid" alt="tour-img" />
                                </a>
                                <div class="vehicle-time">
                                    <p><span><i class="fa fa-clock-o"></i></span>22/h</p>
                                </div><!-- end vehicle-time -->
                            </div><!-- end vehicle-img -->

                            <div class="offer-price-2">
                                <ul class="list-unstyled">
                                    <li class="price">$89<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a></li>
                                </ul>
                            </div><!-- end offer-price-2 -->

                            <div class="main-info vehicle-info">
                                <div class="main-title vehicle-title">
                                    <a href="#">Mercedes Benz</a>
                                    <p>Per Day</p>
                                    <div class="rating">
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star lightgrey"></i></span>
                                    </div>
                                </div><!-- end vehicle-title -->
                            </div><!-- end vehicle-info -->
                        </div><!-- end vehicle-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block vehicle-block">
                            <div class="main-img vehicle-img">
                                <a href="#">
                                    <img src="images/vehicle-2.jpg" class="img-fluid" alt="tour-img" />
                                </a>
                                <div class="vehicle-time">
                                    <p><span><i class="fa fa-clock-o"></i></span>22/h</p>
                                </div><!-- end vehicle-time -->
                            </div><!-- end vehicle-img -->

                            <div class="offer-price-2">
                                <ul class="list-unstyled">
                                    <li class="price">$99<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a></li>
                                </ul>
                            </div><!-- end offer-price-2 -->

                            <div class="main-info vehicle-info">
                                <div class="main-title vehicle-title">
                                    <a href="#">Ferrari</a>
                                    <p>Per Day</p>
                                    <div class="rating">
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star lightgrey"></i></span>
                                    </div>
                                </div><!-- end vehicle-title -->
                            </div><!-- end vehicle-info -->
                        </div><!-- end vehicle-block -->
                    </div><!-- end columns -->

                    <div class="col-md-6 col-lg-4">
                        <div class="main-block vehicle-block">
                            <div class="main-img vehicle-img">
                                <a href="#">
                                    <img src="images/vehicle-3.jpg" class="img-fluid" alt="tour-img" />
                                </a>
                                <div class="vehicle-time">
                                    <p><span><i class="fa fa-clock-o"></i></span>22/h</p>
                                </div><!-- end vehicle-time -->
                            </div><!-- end vehicle-img -->

                            <div class="offer-price-2">
                                <ul class="list-unstyled">
                                    <li class="price">$79<a href="#"><span class="arrow"><i class="fa fa-angle-right"></i></span></a></li>
                                </ul>
                            </div><!-- end offer-price-2 -->

                            <div class="main-info vehicle-info">
                                <div class="main-title vehicle-title">
                                    <a href="#">Range Rover</a>
                                    <p>Per Day</p>
                                    <div class="rating">
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star orange"></i></span>
                                        <span><i class="fa fa-star lightgrey"></i></span>
                                    </div>
                                </div><!-- end vehicle-title -->
                            </div><!-- end vehicle-info -->
                        </div><!-- end vehicle-block -->
                    </div><!-- end columns -->

                </div><!-- end row -->

                <div class="view-all text-center">
                    <a href="#" class="btn btn-orange">View All</a>
                </div><!-- end view-all -->
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end vehicle-offers -->
<div id="popup-ad" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="popup-ad-text">
                            <h4>Get</h4>
                            <h2><span>20%</span> off</h2>
                            <h4>on all flights booking</h4>
                            <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri.</p>
                            <a href="#" class="btn btn-orange">Book Now</a>
                        </div><!-- end popup-ad-text -->
                    </div><!-- end columns -->

                    <div class="col-12 col-md-6">
                        <div class="popup-ad-img">
                            <img src="~/userassets/images/about-content-2.png" class="img-fluid" />
                        </div><!-- end popup-ad-img -->
                    </div><!-- end columns -->
                </div><!-- end row -->

            </div><!-- end modal-bpdy -->
        </div><!-- end modal-content -->
    </div><!-- end modal-dialog -->
</div><!-- end popup-ad -->
<!--Data ends here-->
    <script src="~/userassets/js/jquery-3.3.1.min.js"></script>
    <script src="~/userassets/js/custom/home.js"></script>

<script>

    let getCitiesUrl = '@Url.Action("getCities" , "Home")';
    $(document).ready(function(){
        let FligthSearchForm = $("#flightBookingForm");
        let fromCountry      = $("#from_country");
        let fromCity         = $("#from_city");
        let toCountry        = $("#to_country");
        let toCity           = $("#to_city");
        let departureDate    = $("#departure_date");
        let TotalAduts       = $("#number_of_adults");

        $(FligthSearchForm).submit(function (e) {
            if(fromCountry.val()==""){
                e.preventDefault();
                  Swal.fire({
                title: 'You Missing Something!',
                    text: 'Departure Country Is Required',
                icon: 'warning',
                confirmButtonText: 'Fill it!'
                 });
             return false; 
            }
            if (fromCity.val() == "") {
                e.preventDefault();
             
                Swal.fire({
                    title: 'You Missing Something!',
                    text: 'Departure City Is Required',
                    icon: 'warning',
                    confirmButtonText: 'Fill it!'
                });
                return false;
                
            }
            if (toCountry.val() == "") {
                e.preventDefault();
                Swal.fire({
                    title: 'You Missing Something!',
                    text: 'Arrival Country Is Required',
                    icon: 'warning',
                    confirmButtonText: 'Fill it!'
                });
                return false;
                
            }
            if (toCity.val() == "") {
                e.preventDefault();
                Swal.fire({
                    title: 'You Missing Something!',
                    text: 'Arrival City Is Required',
                    icon: 'warning',
                    confirmButtonText: 'Fill it!'
                });
                return false;

            } 
            if (fromCountry.val() == toCountry.val() && fromCity.val() ==  toCity.val()) {
                e.preventDefault();
                Swal.fire({
                    title: 'You Missing Something!',
                    text: 'Departure Country and City Cannot Be As same as the Arrival Country and City',
                    icon: 'warning',
                    confirmButtonText: 'Fill it!'
                });
                return false;
                
            }
            if (departureDate.val() == "") {
                e.preventDefault();
                Swal.fire({
                    title: 'You Missing Something!',
                    text: 'Departure Date Is Required',
                    icon: 'warning',
                    confirmButtonText: 'Fill it!'
                });
                return false;
              
            }
            if (TotalAduts.val() == "") {
                e.preventDefault();
                Swal.fire({
                    title: 'You Missing Something!',
                    text: 'Number of Adults Is Required',
                    icon: 'warning',
                    confirmButtonText: 'Fill it!'
                });
                return false;
                
            }
       
        });

    })

</script>