@{
	Layout = "~/Views/Shared/_UserLayout.cshtml";
	ViewData["title"] = "Available Services";
}

<!--========================= PAGE-COVER ======================-->
<section class="page-cover back-size" id="cover-flight-grid-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">@ViewData["title"]</h1>
                <ul class="breadcrumb">
                    <li ><a href="#">Home / &nbsp;</a></li>
                    <li>@ViewData["title"]</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->
<section class="innerpage-wrapper">
    <div id="flight-listings" class="innerpage-section-padding">
        <div class="container">
            <div class="row">

                <!--These are the dynamic input field for data retreiving-->
                <input type="hidden"  id="from_city" name="from_city" value="@ViewBag.BookingDetails.from_city" />
                <input type="hidden" name="from_country" id="from_country" value="@ViewBag.BookingDetails.from_country" />
                <input type="hidden" name="to_city" id="to_city" value="@ViewBag.BookingDetails.to_city" />
                <input type="hidden" name="to_country" id="to_country" value="@ViewBag.BookingDetails.to_country" />
                <input type="hidden" name="departureDate" value="@ViewBag.BookingDetails.departureDate" />
                <input type="hidden" name="arrivalDate" value="@ViewBag.BookingDetails.arrivalDate" />
                <input type="hidden" name="adults" value="@ViewBag.BookingDetails.adults" />
                <!--These are the dynamic input field for data retreiving-->


                <div class="col-12 col-md-12 col-lg-3 side-bar left-side-bar">

                    <div class="side-bar-block filter-block">
                        <h3>Sort By Filter</h3>
                        <p>Find your dream flights today</p>

                        <div class="panels-group">

                            <div class="card">
                                <div class="card-header">
                                    <a href="#panel-1" data-bs-toggle="collapse">Select Airline <span><i class="fa fa-angle-down"></i></span></a>
                                </div><!-- end card-header -->

                                <div id="panel-1" class="panel-collapse collapse">
                                    <div class="card-body text-start">
                                        <ul class="list-unstyled">
                                            <li class="custom-check">
                                                <input type="checkbox" id="check01" name="checkbox" />
                                                <label for="check01"><span><i class="fa fa-check"></i></span>All Types</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check02" name="checkbox" />
                                                <label for="check02"><span><i class="fa fa-check"></i></span>Aruba Airlines</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check03" name="checkbox" />
                                                <label for="check03"><span><i class="fa fa-check"></i></span>Asiana Airlines</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check04" name="checkbox" />
                                                <label for="check04"><span><i class="fa fa-check"></i></span>American Airlines</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check05" name="checkbox" />
                                                <label for="check05"><span><i class="fa fa-check"></i></span>Delta Stop</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check06" name="checkbox" />
                                                <label for="check06"><span><i class="fa fa-check"></i></span>KingFisher Airlines</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check07" name="checkbox" />
                                                <label for="check07"><span><i class="fa fa-check"></i></span>Lufthansa Airlines</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check08" name="checkbox" />
                                                <label for="check08"><span><i class="fa fa-check"></i></span>Qatar Airlines</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check09" name="checkbox" />
                                                <label for="check09"><span><i class="fa fa-check"></i></span>United Airlines</label>
                                            </li>
                                        </ul>
                                    </div><!-- end card-body -->
                                </div><!-- end panel-collapse -->
                            </div><!-- end panel-default -->

                            <div class="card">
                                <div class="card-header">
                                    <a href="#panel-2" data-bs-toggle="collapse">Flight Class <span><i class="fa fa-angle-down"></i></span></a>
                                </div><!-- end card-header -->

                                <div id="panel-2" class="panel-collapse collapse">
                                    <div class="card-body text-start">
                                        <ul class="list-unstyled">
                                            <li class="custom-check">
                                                <input type="checkbox" id="check10" name="checkbox" />
                                                <label for="check10"><span><i class="fa fa-check"></i></span>All</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check11" name="checkbox" />
                                                <label for="check11"><span><i class="fa fa-check"></i></span>Economy</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check12" name="checkbox" />
                                                <label for="check12"><span><i class="fa fa-check"></i></span>First Class</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check13" name="checkbox" />
                                                <label for="check13"><span><i class="fa fa-check"></i></span>Business</label>
                                            </li>
                                        </ul>
                                    </div><!-- end card-body -->
                                </div><!-- end panel-collapse -->
                            </div><!-- end panel-default -->

                            <div class="card">
                                <div class="card-header">
                                    <a href="#panel-3" data-bs-toggle="collapse">Flight Stops <span><i class="fa fa-angle-down"></i></span></a>
                                </div><!-- end card-header -->

                                <div id="panel-3" class="panel-collapse collapse">
                                    <div class="card-body text-start">
                                        <ul class="list-unstyled">
                                            <li class="custom-check">
                                                <input type="checkbox" id="check14" name="checkbox" />
                                                <label for="check14"><span><i class="fa fa-check"></i></span>All</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check15" name="checkbox" />
                                                <label for="check15"><span><i class="fa fa-check"></i></span>1 Stop</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check16" name="checkbox" />
                                                <label for="check16"><span><i class="fa fa-check"></i></span>2 Stop</label>
                                            </li>
                                            <li class="custom-check">
                                                <input type="checkbox" id="check17" name="checkbox" />
                                                <label for="check17"><span><i class="fa fa-check"></i></span>3 Stop</label>
                                            </li>
                                        </ul>
                                    </div><!-- end card-body -->
                                </div><!-- end panel-collapse -->
                            </div><!-- end panel-default -->

                        </div><!-- end panel-group -->

                        <div class="price-slider">
                            <p><input type="text" id="amount" readonly></p>
                            <div id="slider-range"></div>
                        </div><!-- end price-slider -->
                    </div><!-- end side-bar-block -->

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="side-bar-block main-block ad-block">
                                <div class="main-img ad-img">
                                    <a href="#">
                                        <img src="images/car-ad.jpg" class="img-fluid" alt="car-ad" />
                                        <div class="ad-mask">
                                            <div class="ad-text">
                                                <span>Luxury</span>
                                                <h2>Car</h2>
                                                <span>Offer</span>
                                            </div><!-- end ad-text -->
                                        </div><!-- end columns -->
                                    </a>
                                </div><!-- end ad-img -->
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->

                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="side-bar-block support-block">
                                <h3>Need Help</h3>
                                <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum.</p>
                                <div class="support-contact">
                                    <span><i class="fa fa-phone"></i></span>
                                    <p>+1 123 1234567</p>
                                </div><!-- end support-contact -->
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->

                    </div><!-- end row -->

                </div><!-- end columns -->

                <div class="col-12 col-md-12 col-lg-9 content-side position-relative " id="serviceContainer">
                    
                            <div class="container" id="searchingLoader" style="position: absolute; top: 30%; left: 50%;transform: translate(-50%  , -50%);">
                                <center><img src="~/userassets/images/loader.svg" alt=""></center>
                                <br>
                                <center><h1>Searching Flights</h1></center>
                            </div>
                   
                  
                    <div class="pages pagination-margin">
                        <ol class="pagination justify-content-center">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                        </ol>
                    </div><!-- end pages -->

                </div><!-- end columns -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end flight-listings -->
</section><!-- end innerpage-wrapper -->
<script src="~/userassets/js/jquery-3.3.1.min.js"></script>
<script src="~/userassets/js/custom/ServiceListing.js"></script>

<script>

    let getIataCode = '@Url.Action("getAirportsIata" , "BookingRequest")';
    let getAirlines = '@Url.Action("getAirlinesService", "BookingRequest")';
    $(document).ready(function () {
        let serviceContainer = $('#serviceContainer');
        let searchingLoader   = $('#searchingLoader');
        let from_city        = $('#from_city');
        let to_city          = $('#to_city');
        let fromCountries    = $("#from_country");
        let toCountries      = $("#to_country");
        let departureDate    = $('input[name="departureDate"]');
        let numberofAdults   = $('input[name="adults"]');
        // Sending Data to our getIata function to retrieve IATA CODE OF AIRPORTS
        // Converting Date Format From dd/mm/yyy To YYYYMMDD for api
            const DatePart    = departureDate.val().split('/'); // This Will Remove the / from the values      
            const month   = DatePart[0];
            const date    = DatePart[1];
            const year    = DatePart[2];
            const formattedMonth = String(month).padStart(2 , '0');
            const formattedDate  = String(date).padStart(2 , '0');
            let formattedDeparture = `${year}-${formattedMonth}-${formattedDate}`;
            
    
        // End Of Converting Date Format   
        $.ajax({
            url  : getIataCode , 
            type : 'post' ,
            data: {fromCity : from_city.val() , toCity : to_city.val() , from_country : fromCountries.val() , to_country : toCountries.val()},
            success:function(response){
                if(response.message == "FromCountry")
                {   
                    let fromCountry = response.fromCountryDetails.iataCode ;
                    let toCity      = response.toCityDetails.iataCode;
                    // First we Will Authorize our self to Amadeus.com then we can get a generated access token for api product usage
                    //Authorizing
                    var tokenUrl = "https://test.api.amadeus.com/v1/security/oauth2/token";
                    // Amadeus Client Credientals
                    const clientid = "gOIqKp00iu9rGRDRb893Mwa6YgagLRLz"; //Your App Api Key
                    const clientSecret = "86nyQTrv9AF5SkU4"; // Api Secret Key
                    //Creating A Data Variable to send these credentials
                    const requestData = {
                        grant_type: 'client_credentials',
                        client_id: clientid,
                        client_secret: clientSecret
                    };
                    //Converting Data Request to A url-encode String
                    const requestDataString = Object.keys(requestData).map(key => encodeURIComponent(key) + "=" + encodeURIComponent(requestData[key])).join('&');
                    // Now Sending Ajax Request
                    $.ajax({
                        url: tokenUrl,
                        method: 'Post',
                        data: requestDataString,
                        success: function (clientData) {
                            const apiUrl = 'https://test.api.amadeus.com/v2/shopping/flight-offers'; // The Api Service You Want Use
                            const accessToken = clientData.access_token; // This Is mendatory to authorize user to use the api service
                            const SearchParams = {
                                originLocationCode: fromCountry,
                                destinationLocationCode: toCity,
                                departureDate: formattedDeparture,// Date Format YYYY-MM-DD
                                adults: 4
                            }; // these are the params that we will send to our flight search api
                            const requestDataString = Object.keys(SearchParams).map(key => encodeURIComponent(key) + "=" + encodeURIComponent(SearchParams[key])).join('&');
                            // Now Our Date And Uri is ready we will create a ajax Get request to send data and get data from response
                            $.ajax({
                                url: apiUrl + '?' + requestDataString,
                                method: "Get",
                                headers: {
                                    'Authorization': 'Bearer ' + accessToken,
                                },
                                success: function (response) {
                                    if (response.data == "" || response.data == null) {
                                        alert("no flights found")
                                    }
                                    else {
                                        let uniqueAirlinesIata = [];
                                        // Assuming 'response' is the JSON response object
                                        $(response.data).each(function (index, value) {
                                            $(value.itineraries).each(function (i, itinerary) {
                                                $(itinerary.segments).each(function (j, segment) {
                                                    uniqueAirlinesIata.push(segment.carrierCode);
                                                });
                                            });
                                        });

                                        // To remove duplicate carrier codes, you can use a Set
                                        let allAirlinesIata = [...new Set(uniqueAirlinesIata)];

                                        $.ajax({
                                            url: getAirlines,
                                            type: "Post",
                                            data: { AirlinesIata: allAirlinesIata },
                                            success: function (response) {
                                                $(searchingLoader).fadeOut();
                                                let cardContainer = "";
                                                $(response.data).each(function (index, value) {
                                                    cardContainer += `
                                                             <div class="list-block main-block f-list-block">
                                                        <div class="list-content">
                                                            <div class="main-img list-img f-list-img">
                                                                <a href="flight-detail-left-sidebar.html">
                                                                    <div class="f-img">
                                                                            <img src="${value.airlineImage}" class="img-fluid" alt="flight-img" />
                                                                    </div><!-- end f-list-img -->
                                                                </a>
                                                                <ul class="list-unstyled list-inline offer-price-1">
                                                                    <li class="list-inline-item duration"><i class="fa fa-clock-o"></i><span>6 hours - 30 minutes</span></li>
                                                                    <li class="list-inline-item price">$568.00<span class="divider">|</span><span class="pkg">2 Stay</span></li>
                                                                </ul>
                                                                <ul class="list-unstyled flight-timing">
                                                                    <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                                                    <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                                                </ul>
                                                            </div><!-- end f-list-img -->

                                                            <div class="list-info f-list-info">
                                                                    <h3 class="block-title"><a href="flight-detail-left-sidebar.html">${from_city.val()} to ${toCountry}</a></h3>
                                                                <p class="block-minor"><span>Fr 5379,</span> Oneway Flight</p>
                                                                <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum at, pro an eros perpetua ullamcorper.</p>
                                                                <a href="flight-detail-left-sidebar.html" class="btn btn-orange">View More</a>
                                                            </div><!-- end f-list-info -->
                                                        </div><!-- end list-content -->
                                                    </div><!-- end f-list-block -->`;
                                                }); // Foreach Ends here
                                                $(serviceContainer).html(cardContainer);
                                            }
                                        }); // Ajax Ends here for Services
                                    }

                                }


                            });
                        }

                    })


                }
                /// ============== ///
                if (response.message == "FromCountryAndCity") {
                    let fromCountry = response.fromCountryDetails.iataCode;
                    let toCity = response.toCountry.iataCode;
                    // First we Will Authorize our self to Amadeus.com then we can get a generated access token for api product usage
                    //Authorizing
                    var tokenUrl = "https://test.api.amadeus.com/v1/security/oauth2/token";
                    // Amadeus Client Credientals
                    const clientid = "gOIqKp00iu9rGRDRb893Mwa6YgagLRLz"; //Your App Api Key
                    const clientSecret = "86nyQTrv9AF5SkU4"; // Api Secret Key
                    //Creating A Data Variable to send these credentials
                    const requestData = {
                        grant_type: 'client_credentials',
                        client_id: clientid,
                        client_secret: clientSecret
                    };
                    //Converting Data Request to A url-encode String
                    const requestDataString = Object.keys(requestData).map(key => encodeURIComponent(key) + "=" + encodeURIComponent(requestData[key])).join('&');
                    // Now Sending Ajax Request
                    $.ajax({
                        url: tokenUrl,
                        method: 'Post',
                        data: requestDataString,
                        success: function (clientData) {
                            const apiUrl = 'https://test.api.amadeus.com/v2/shopping/flight-offers'; // The Api Service You Want Use
                            const accessToken = clientData.access_token; // This Is mendatory to authorize user to use the api service
                            const SearchParams = {
                                originLocationCode: fromCountry,
                                destinationLocationCode: toCity,
                                departureDate: formattedDeparture,// Date Format YYYY-MM-DD
                                adults: 4
                            }; // these are the params that we will send to our flight search api
                            const requestDataString = Object.keys(SearchParams).map(key => encodeURIComponent(key) + "=" + encodeURIComponent(SearchParams[key])).join('&');
                            // Now Our Date And Uri is ready we will create a ajax Get request to send data and get data from response
                            $.ajax({
                                url: apiUrl + '?' + requestDataString,
                                method: "Get",
                                headers: {
                                    'Authorization': 'Bearer ' + accessToken,
                                },
                                success: function (response) {
                                    if (response.data == "" || response.data == null) {
                                        alert("no flights found")
                                    }
                                    else {
                                        let uniqueAirlinesIata = [];
                                        // Assuming 'response' is the JSON response object
                                        $(response.data).each(function (index, value) {
                                            $(value.itineraries).each(function (i, itinerary) {
                                                $(itinerary.segments).each(function (j, segment) {
                                                    uniqueAirlinesIata.push(segment.carrierCode);
                                                });
                                            });
                                        });

                                        // To remove duplicate carrier codes, you can use a Set
                                        let allAirlinesIata = [...new Set(uniqueAirlinesIata)];

                                        $.ajax({
                                            url: getAirlines,
                                            type: "Post",
                                            data: { AirlinesIata: allAirlinesIata },
                                            success: function (response) {
                                                let cardContainer = "";
                                                $(response.data).each(function (index, value) {
                                                    cardContainer += `
                                                             <div class="list-block main-block f-list-block">
                                                        <div class="list-content">
                                                            <div class="main-img list-img f-list-img">
                                                                <a href="flight-detail-left-sidebar.html">
                                                                    <div class="f-img">
                                                                            <img src="${value.airlineImage}" class="img-fluid" alt="flight-img" />
                                                                    </div><!-- end f-list-img -->
                                                                </a>
                                                                <ul class="list-unstyled list-inline offer-price-1">
                                                                    <li class="list-inline-item duration"><i class="fa fa-clock-o"></i><span>6 hours - 30 minutes</span></li>
                                                                    <li class="list-inline-item price">$568.00<span class="divider">|</span><span class="pkg">2 Stay</span></li>
                                                                </ul>
                                                                <ul class="list-unstyled flight-timing">
                                                                    <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                                                    <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                                                </ul>
                                                            </div><!-- end f-list-img -->

                                                            <div class="list-info f-list-info">
                                                                    <h3 class="block-title"><a href="flight-detail-left-sidebar.html">${from_city.val()} to ${toCountry}</a></h3>
                                                                <p class="block-minor"><span>Fr 5379,</span> Oneway Flight</p>
                                                                <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum at, pro an eros perpetua ullamcorper.</p>
                                                                <a href="flight-detail-left-sidebar.html" class="btn btn-orange">View More</a>
                                                            </div><!-- end f-list-info -->
                                                        </div><!-- end list-content -->
                                                    </div><!-- end f-list-block -->`;
                                                }); // Foreach Ends here
                                                $(serviceContainer).html(cardContainer);
                                            }
                                        }); // Ajax Ends here for Services
                                    
                                    }

                                }


                            });
                        }

                    })


                }
                ///----------------./////////
                else if (response.message == "toCountry") {
                    let FromCity  = response.fromCityDetails.iataCode;
                    let toCountry = response.toCountry.iataCode;
                    // First we Will Authorize our self to Amadeus.com then we can get a generated access token for api product usage
                    //Authorizing
                    var tokenUrl = "https://test.api.amadeus.com/v1/security/oauth2/token";
                    // Amadeus Client Credientals
                    const clientid = "gOIqKp00iu9rGRDRb893Mwa6YgagLRLz"; //Your App Api Key
                    const clientSecret = "86nyQTrv9AF5SkU4"; // Api Secret Key
                    //Creating A Data Variable to send these credentials
                    const requestData = {
                        grant_type: 'client_credentials',
                        client_id: clientid,
                        client_secret: clientSecret
                    };
                    //Converting Data Request to A url-encode String
                    const requestDataString = Object.keys(requestData).map(key => encodeURIComponent(key) + "=" + encodeURIComponent(requestData[key])).join('&');
                    // Now Sending Ajax Request
                    $.ajax({
                        url: tokenUrl,
                        method: 'Post',
                        data: requestDataString,
                        success: function (clientData) {
                            const apiUrl = 'https://test.api.amadeus.com/v2/shopping/flight-offers'; // The Api Service You Want Use
                            const accessToken = clientData.access_token; // This Is mendatory to authorize user to use the api service
                            const SearchParams = {
                                originLocationCode: FromCity,
                                destinationLocationCode: toCountry,
                                departureDate: formattedDeparture,// Date Format YYYY-MM-DD
                                adults: 4
                            }; // these are the params that we will send to our flight search api
                            const requestDataString = Object.keys(SearchParams).map(key => encodeURIComponent(key) + "=" + encodeURIComponent(SearchParams[key])).join('&');
                            // Now Our Date And Uri is ready we will create a ajax Get request to send data and get data from response
                            $.ajax({
                                url: apiUrl + '?' + requestDataString,
                                method: "Get",
                                headers: {
                                    'Authorization': 'Bearer ' + accessToken,
                                },
                                success: function (response) {
                                    if (response.data == "" || response.data == null) {
                                        alert("no flights found")
                                    }
                                    else {
                                        let uniqueAirlinesIata = [];
                                        // Assuming 'response' is the JSON response object
                                        $(response.data).each(function (index, value) {
                                            $(value.itineraries).each(function (i, itinerary) {
                                                $(itinerary.segments).each(function (j, segment) {
                                                    uniqueAirlinesIata.push(segment.carrierCode);
                                                });
                                            });
                                        });

                                        // To remove duplicate carrier codes, you can use a Set
                                        let allAirlinesIata = [...new Set(uniqueAirlinesIata)];
                                        $.ajax({
                                            url: getAirlines,
                                            type: "Post",
                                            data:{ AirlinesIata: allAirlinesIata },
                                            success: function (response) {
                                                let cardContainer = "" ;
                                                $(response.data).each(function(index , value){
                                                    cardContainer += `
                                                         <div class="list-block main-block f-list-block">
                                                    <div class="list-content">
                                                        <div class="main-img list-img f-list-img">
                                                            <a href="flight-detail-left-sidebar.html">
                                                                <div class="f-img">
                                                                        <img src="${value.airlineImage}" class="img-fluid" alt="flight-img" />
                                                                </div><!-- end f-list-img -->
                                                            </a>
                                                            <ul class="list-unstyled list-inline offer-price-1">
                                                                <li class="list-inline-item duration"><i class="fa fa-clock-o"></i><span>6 hours - 30 minutes</span></li>
                                                                <li class="list-inline-item price">$568.00<span class="divider">|</span><span class="pkg">2 Stay</span></li>
                                                            </ul>
                                                            <ul class="list-unstyled flight-timing">
                                                                <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                                                <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                                            </ul>
                                                        </div><!-- end f-list-img -->

                                                        <div class="list-info f-list-info">
                                                                <h3 class="block-title"><a href="flight-detail-left-sidebar.html">${from_city.val()} to ${toCountry}</a></h3>
                                                            <p class="block-minor"><span>Fr 5379,</span> Oneway Flight</p>
                                                            <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum at, pro an eros perpetua ullamcorper.</p>
                                                            <a href="flight-detail-left-sidebar.html" class="btn btn-orange">View More</a>
                                                        </div><!-- end f-list-info -->
                                                    </div><!-- end list-content -->
                                                </div><!-- end f-list-block -->`;
                                                }); // Foreach Ends here
                                                $(serviceContainer).html(cardContainer);
                                            }
                                        }); // Ajax Ends here for Services


                                    }

                                }


                            });
                        }

                    })
                }
                else
                {
                    let FromCity = response.fromCityDetails.iataCode;
                    let toCity = response.toCityDetails.iataCode;
                    var tokenUrl = "https://test.api.amadeus.com/v1/security/oauth2/token";
                    // Amadeus Client Credientals
                    const clientid = "gOIqKp00iu9rGRDRb893Mwa6YgagLRLz"; //Your App Api Key
                    const clientSecret = "86nyQTrv9AF5SkU4"; // Api Secret Key
                    //Creating A Data Variable to send these credentials
                    const requestData = {
                        grant_type: 'client_credentials',
                        client_id: clientid,
                        client_secret: clientSecret
                    };
                    //Converting Data Request to A url-encode String
                    const requestDataString = Object.keys(requestData).map(key => encodeURIComponent(key) + "=" + encodeURIComponent(requestData[key])).join('&');
                    // Now Sending Ajax Request
                    $.ajax({
                        url: tokenUrl,
                        method: 'Post',
                        data: requestDataString,
                        success: function (clientData) {
                            const apiUrl = 'https://test.api.amadeus.com/v2/shopping/flight-offers'; // The Api Service You Want Use
                            const accessToken = clientData.access_token; // This Is mendatory to authorize user to use the api service
                            const SearchParams = {
                                originLocationCode: FromCity,
                                destinationLocationCode: toCity,
                                departureDate: formattedDeparture,// Date Format YYYY-MM-DD
                                adults: 4
                            }; // these are the params that we will send to our flight search api
                            const requestDataString = Object.keys(SearchParams).map(key => encodeURIComponent(key) + "=" + encodeURIComponent(SearchParams[key])).join('&');
                            // Now Our Date And Uri is ready we will create a ajax Get request to send data and get data from response
                            $.ajax({
                                url: apiUrl + '?' + requestDataString,
                                method: "Get",
                                headers: {
                                    'Authorization': 'Bearer ' + accessToken,
                                },
                                success: function (response) {
                                    if (response.data == "" || response.data == null) {
                                        alert("no flights found")
                                    }
                                    else {
                                        let uniqueAirlinesIata = [];
                                        // Assuming 'response' is the JSON response object
                                        $(response.data).each(function (index, value) {
                                            $(value.itineraries).each(function (i, itinerary) {
                                                $(itinerary.segments).each(function (j, segment) {
                                                    uniqueAirlinesIata.push(segment.carrierCode);
                                                });
                                            });
                                        });

                                        // To remove duplicate carrier codes, you can use a Set
                                        let allAirlinesIata = [...new Set(uniqueAirlinesIata)];

                                        $.ajax({
                                            url: getAirlines,
                                            type: "Post",
                                            data: { AirlinesIata: allAirlinesIata },
                                            success: function (response) {
                                                let cardContainer = "";
                                                $(response.data).each(function (index, value) {
                                                    cardContainer += `
                                                             <div class="list-block main-block f-list-block">
                                                        <div class="list-content">
                                                            <div class="main-img list-img f-list-img">
                                                                <a href="flight-detail-left-sidebar.html">
                                                                    <div class="f-img">
                                                                            <img src="${value.airlineImage}" class="img-fluid" alt="flight-img" />
                                                                    </div><!-- end f-list-img -->
                                                                </a>
                                                                <ul class="list-unstyled list-inline offer-price-1">
                                                                    <li class="list-inline-item duration"><i class="fa fa-clock-o"></i><span>6 hours - 30 minutes</span></li>
                                                                    <li class="list-inline-item price">$568.00<span class="divider">|</span><span class="pkg">2 Stay</span></li>
                                                                </ul>
                                                                <ul class="list-unstyled flight-timing">
                                                                    <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 02-2017 </span>(8:40 PM)</li>
                                                                    <li><span><i class="fa fa-plane"></i></span><span class="date">Aug, 03-2017 </span>(8:40 PM)</li>
                                                                </ul>
                                                            </div><!-- end f-list-img -->

                                                            <div class="list-info f-list-info">
                                                                    <h3 class="block-title"><a href="flight-detail-left-sidebar.html">${from_city.val()} to ${toCountry}</a></h3>
                                                                <p class="block-minor"><span>Fr 5379,</span> Oneway Flight</p>
                                                                <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis. Est atqui timeam mnesarchum at, pro an eros perpetua ullamcorper.</p>
                                                                <a href="flight-detail-left-sidebar.html" class="btn btn-orange">View More</a>
                                                            </div><!-- end f-list-info -->
                                                        </div><!-- end list-content -->
                                                    </div><!-- end f-list-block -->`;
                                                }); // Foreach Ends here
                                                $(serviceContainer).html(cardContainer);
                                            }
                                        }); // Ajax Ends here for Services
                                    
                                    }

                                }


                            });
                        }

                    })
                }
                
                // Now We Will Get Details From Flight Schedules Through Our Api Then Will Show the Airlines Results of avaialble Schedules
              
               
            }
        })



    });

</script>
