@model List<TravioHotel.Models.Countries> ;
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
    ViewData["title"] = "All Countries";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Fees Collection</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example4" class="display" style="min-width:100%">
                <thead>
                    <tr>
                        <th>Country Id</th>
                        <th>Country Name</th>
                        <th>Iso 2</th>
                        <th>Iso 3</th>
                        <th>Phone Code </th>
                        <th>Currency </th>
                        <th>Currency Symbol </th>
                        <th>Capital</th>
                        <th>Region</th>
                        <th>Sub Region</th>
                        <th>Native</th>
                        <th>Emoji </th>
                    
                    </tr>
                </thead>
                <tbody>
                  @foreach(var Countries in  Model)
                    {
                       <tr>
                           <td>@Countries.id</td>
                           <td>@Countries.name</td>
                           <td>@Countries.iso2</td>
                           <td>@Countries.iso3</td>
                           <td>@Countries.phonecode</td>
                           <td>@Countries.currency</td>
                           <td>@Countries.currency_symbol</td>
                           <td>@Countries.capital</td>
                           <td>@Countries.region</td>
                           <td>@Countries.subregion</td>
                           <td>@Countries.native</td>
                           <td>@Countries.emoji</td>
                         
                       </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Scripts start-->
<!--**********************************
        Main wrapper end
    ***********************************-->
<!--**********************************
    Scripts

<!-- Required vendors -->
<script src="~/dashboardassets/vendor/global/global.min.js"></script>

<script src="~/dashboardassets/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!-- Custom -->
<script src="~/dashboardassets/custom/js/Countries.js"></script>
<!-- Apex Chart -->

<script src="~/dashboardassets/vendor/apexchart/apexchart.js"></script>


<!-- Chart piety plugin files -->
<!-- Dashboard 1 -->
<script src="~/dashboardassets/js/dashboard/dashboard-1.js"></script>

<script src="~/dashboardassets/vendor/owl-carousel/owl.carousel.js"></script>
<script src="~/dashboardassets/vendor/global/global.min.js"></script>
<script src="~/dashboardassets/vendor/chart.js/Chart.bundle.min.js"></script>
<!-- Apex Chart -->
<script src="~/dashboardassets/vendor/apexchart/apexchart.js"></script>

<!-- Datatable -->
<script src="~/dashboardassets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/dashboardassets/js/plugins-init/datatables.init.js"></script>

<script src="~/dashboardassets/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<script src="~/dashboardassets/js/custom.min.js"></script>
<script src="~/dashboardassets/js/dlabnav-init.js"></script>
<script src="~/dashboardassets/js/demo.js"></script>
<script src="~/dashboardassets/js/styleSwitcher.js"></script>