@model List<TravioHotel.Models.Airlines>
@{
    ViewData["title"]   = "Airlines Services" ;
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}
<div class="card">
    <div class="card-header d-flex">
 

                <h4 class="card-title">All Airline Services</h4>
        <div class="d-flex">

            <a class="btn btn-danger" asp-action="Trash" asp-controller="Airlines" title="Trashed Airlines"><i class="fa fa-trash"></i></a>
           | <a class="ml-4 mr-3 btn btn-success" asp-action="Create" asp-controller="Airlines" title="Add Airlines"><i class="fa fa-plus"></i></a>

        </div>
      
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example4" class="display" style="min-width:100%">
                <thead>
                    <tr>
                        <th>Service Id</th>
                        <th>Service Logo</th>
                        <th>Service Name</th>
                        <th>ICAO Code </th>
                        <th>IATA Code </th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody >
                    @foreach (var airline in Model)
                    {
                        <tr>
                            <td>@airline.Id</td>
                            @if(airline.AirlineImage == "undefined"){
                                <td class="text-danger">No Image</td>
                            }
                             else{
                            <td><img src="@airline.AirlineImage" style="width:40px  ; height:40px ; object-fit:contain"></td>
                             }                          
                            
                            <td>@airline.Airlinename</td>
                            <td>@airline.ICAOCode</td>
                            <td>@airline.IATACode</td>
                            <td><a class="btn btn-danger" href="/Airlines/Delete/@airline.Id"><i class="fa fa-trash"></i></a> | <a href="/Airlines/Edit/@airline.Id" class="btn btn-success"><i class="fa fa-pen"></i></a></td>
                            
                        </tr>
                    }
           

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Scripts start -->
<!--**********************************
		Main wrapper end
	***********************************-->
	<!--**********************************
		Scripts

	<!-- Required vendors -->
	<script src="~/dashboardassets/vendor/global/global.min.js"></script>

	<script src="~/dashboardassets/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<!-- Custom -->
	<script src="~/dashboardassets/custom/js/Countries.js"></script>
	<!-- Apex Chart -->

	<script src="~/dashboardassets/vendor/apexchart/apexchart.js"></script>


	<!-- Chart piety plugin files -->
	<!-- Dashboard 1 -->
	<script src="~/dashboardassets/js/dashboard/dashboard-1.js"></script>

	<script src="~/dashboardassets/vendor/owl-carousel/owl.carousel.js"></script>
	<script src="~/dashboardassets/vendor/global/global.min.js"></script>
	<script src="~/dashboardassets/vendor/chart.js/Chart.bundle.min.js"></script>
	<!-- Apex Chart -->
	<script src="~/dashboardassets/vendor/apexchart/apexchart.js"></script>

	<!-- Datatable -->
	<script src="~/dashboardassets/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/dashboardassets/js/plugins-init/datatables.init.js"></script>

	<script src="~/dashboardassets/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

	<script src="~/dashboardassets/js/custom.min.js"></script>
	<script src="~/dashboardassets/js/dlabnav-init.js"></script>
	<script src="~/dashboardassets/js/demo.js"></script>
	<script src="~/dashboardassets/js/styleSwitcher.js"></script>
