@model TravioHotel.Models.Airport 
@{
    Layout = "~/Views/Shared/_Adminlayout.cshtml";

    @if (TempData["action"] == "Create")
    {
        ViewData["parentAction"]  = "Store";
        ViewData["title"]        = "Add Airports";
        ViewData["parentButton"] = "Create";

    }
    else
    {
        ViewData["parentAction"]  = "Update";
        ViewData["title"]        = "Edit Airports";
        ViewData["parentButton"] = "Update";
    }

}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Airlines Form</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form id="airportForm" asp-action="@ViewData["parentAction"]" asp-controller="Airport" method="post">

                <div class="row">
                 
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Airport Name</label>
                        <input type="text" name="Name" asp-for="Name" class="form-control" placeholder="Airport Name">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Country</label>
                        <select id="Country_Select" class="form-control" asp-for="Country_iso" name="Country_iso">
                            <option value="">Select Country</option>
                            @foreach(var countryData in ViewBag.data.country)
                            {
                                <option value="@countryData.iso2">@countryData.name</option>
                            }
                        </select>
                    </div> 
                    <div class="mb-3 col-md-6">
                        <label class="form-label">City </label>
                        <select id="CitySelect" class="form-control" asp-for="City_name" name="City_name">
                            <option value="">Select Country First</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">IATA Code <small>(International Air Transport Association)</small></label>
                        <input type="text" name="IataCode" asp-for="IataCode" class="form-control" placeholder="IATA code">
                    </div>  <div class="mb-3 col-md-6">
                        <label>ICAO Code <small>(The International Civil Aviation Organization) | (optional)</small></label>
                        <input type="text" name="IcaoCode" asp-for="IcaoCode" class="form-control" placeholder="ICAO code">
                    </div>
               
                </div>


                <button type="submit" class="btn btn-primary">@ViewData["parentButton"]</button>
            </form>
        </div>
    </div>
</div>
<!-- Script files-->
<!--**********************************
        Main wrapper end
    ***********************************-->
<!--**********************************
    Scripts

<!-- Required vendors -->
<script src="~/dashboardassets/vendor/global/global.min.js"></script>

<script src="~/dashboardassets/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- Custom -->
<script src="~/dashboardassets/custom/js/Countries.js"></script>
<!-- Apex Chart -->

<script src="~/dashboardassets/vendor/apexchart/apexchart.js"></script>


<!-- Chart piety plugin files -->
<!-- Dashboard 1 -->
<script src="~/dashboardassets/js/dashboard/dashboard-1.js"></script>

<script src="~/dashboardassets/vendor/owl-carousel/owl.carousel.js"></script>
<script src="~/dashboardassets/vendor/global/global.min.js"></script>
<script src="~/dashboardassets/vendor/chart.js/Chart.bundle.min.js"></script>
<!-- Apex Chart -->
<script src="~/dashboardassets/vendor/apexchart/apexchart.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!-- Datatable -->
<script src="~/dashboardassets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/dashboardassets/js/plugins-init/datatables.init.js"></script>

<script src="~/dashboardassets/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<script src="~/dashboardassets/js/custom.min.js"></script>
<script src="~/dashboardassets/js/dlabnav-init.js"></script>
<script src="~/dashboardassets/js/demo.js"></script>
<script src="~/dashboardassets/js/styleSwitcher.js"></script>

<script src="~/dashboardassets/custom/js/Airports.js"></script>
<!--End of Script Files-->
<script>
    let getCitiesUrl = '@Url.Action("GetCities" , "Airport")';
   

</script>